src/test/resources/parameter/dice-text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="test_data">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="data" type="dice" />
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="uniqueData">
			<xs:selector xpath="data" />
			<xs:field xpath="text" />
		</xs:unique>
	</xs:element>

	<xs:complexType name="dice">
		<xs:sequence>
			<xs:element name="text" type="xs:string" />
			<xs:element name="sides" type="xs:integer" />
			<xs:element name="quantity" type="xs:integer" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>